@import '~antd/dist/antd.css';

.nav_menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow-y: hidden;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: #ffffff;

  position: absolute;
  z-index: 5;
  width: 100%;

  /* from typeform css */
  min-width: 0px;
  min-height: 87px;
  max-height: 87px;
  flex-shrink: 1;

  box-sizing: inherit;

  display: block;
  overflow-x: hidden;

  height: 87px;
}

.nav_menu_home {
  max-width: 20%;
  float: left;
}

.nav_menu_home a {
  display: inline-block;
  font-size: 1.5em;
  padding: 19px 20px;
}

.nav_menu_container {
  width: 100%;
}

.nav_menu_right {
  max-width: 20%;
  float: right;
  display: inline-block;
  font-size: 1.5em;
  padding: 19px 20px;
}
