@import '~antd/dist/antd.css';

.div_rootContainer {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */

  /* copy facebook devtool */
  /* justify-content: center;
  box-sizing: border-box;
  flex-shrink: 0;
  min-width: 320px;
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  align-items: stretch;
  z-index: 0;
  min-height: inherit;
  flex-direction: row; */
}

/* space */
.div_space {
  width: 100%;
  /* height: 80px; */
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

/* space befor container*/

.div_subRootContainer {
  background-color: #f0f2f5;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: row;

  /* copy facebook devtool */
  /* font-family: inherit;
  box-sizing: border-box;
  flex-basis: 0px;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 0;
  flex-shrink: 1;
  z-index: 0;
  min-height: inherit;
  flex-grow: 1;
  flex-direction: row;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased; */
}

@media (max-width: 1920px) {
  .div_subRootContainer {
    max-width: none;
  }
}

.div_navContainer {
  /* width: 10%; */
  width: 360px;
  max-width: 360px;

  /* copy facebook devtool
  font-family: inherit;
  overflow-y: hidden;
  box-sizing: border-box;
  max-width: 360px;
  overflow-anchor: none;
  flex-shrink: 9999;
  max-height: 0;
  flex-basis: 360px;
  overflow-x: hidden;
  position: sticky;
  min-width: 280px;
  z-index: 0;
  min-height: inherit;
  top: var(--header-height, 56px);
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none; */
}

.div_mainContainer {
  width: 100%;
  /* height: 100%; */
  /* display: flex; */
  align-items: center;
  /* justify-content: space-between; */
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  flex-grow: 1;
  overscroll-behavior-y: none;

  flex-basis: 744px;
  width: 80%;
  display: flex;
  justify-content: center;

  /* box-sizing: border-box;
  flex-basis: 744px;
  position: relative; */

  /* copy facebook devtool */
  /* font-family: inherit;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  position: relative;
  display: flex;
  min-width: 0;
  align-items: stretch;
  flex-shrink: 1;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 0;
  flex-grow: 1;
  flex-direction: row;
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none; */
}

.div_formContainer {
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-bottom: 16px;
  position: relative;
  /* min-height: 460px; */
  width: 500px;
  height: 100%;
  /* max-height: 100%; */
  /* flex-wrap: wrap; */

  z-index: auto;
}

.div_formContainer > form {
  min-width: 500px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.div_mainContainer_dropzone {
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;

  /* copy facebook devtool
  font-family: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  display: flex;
  min-width: 0;
  z-index: 0;
  max-width: 100%;
  flex-direction: column;
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none; */
}

.div_mainContainer_dropzone > Dropzone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.div_mainContainer_dropzone > Input {
  width: 100%;
}

.div_mainContainer_dropzone > Select {
  width: 100%;
}

.div_mainContainer_dropzone > Button {
}

.div_mainContainer_dropzone_content {
  width: 100%;
  height: 200px;
  border: 1px solid #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  /* copy facebook devtool
  font-family: inherit;
  margin-top: 16px;
  width: 100%; */
}

.div_mainContainer_dropzone_content__ {
  min-width: 370px;
  position: static;
  border: 1px solid #ffffff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 20px;
  margin-top: 10px;
  /* margin-bottom: 40px; */
}

.div_complementaryContainer {
  width: 360px;
  max-width: 360px;

  /* copy facebook devtool
  font-family: inherit;
  overflow-y: hidden;
  box-sizing: border-box;
  max-width: 360px;
  flex-shrink: 9999;
  max-height: 0;
  flex-basis: 360px;
  overflow-x: hidden;
  position: sticky;
  min-width: 280px;
  z-index: 0;
  min-height: inherit;
  top: var(--header-height, 56px);
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none; */
}

.div_postContainer {
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  margin-bottom: 16px;
  position: relative;
  /* min-height: 460px; */
  width: 90%;
  max-width: 590px;
  height: 100%;
  /* max-height: 100%; */
  /* flex-wrap: wrap; */

  /* z-index: auto; */
}

.div_postUnit {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* z-index: 6; */
  /* height: 360px; */
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  /* box-sizing: border-box; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.div_postUnit_header {
  display: block;
  justify-content: space-between;
  /* padding: 1rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.2rem;
}

.div_postUnit_header > span {
  background-color: #ffffff;

  border-left-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom: solid 1.5px rgba(239, 240, 243, 1);
  border-bottom-style: ridge;
  word-break: break-word;
  color: #65676b;
  font-weight: normal;
  font-size: 0.9375rem;
  min-width: 0;
  max-width: 100%;
  line-height: 2.6666;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;

  display: block;
}

.div_postUnit_navContent {
  height: 40px;

  font-family: inherit;
  background-color: #ffffff;
  display: flex;
  z-index: auto;
}

.div_postUnit_navContent_ {
  height: 40px;
  width: 100%;

  background-color: #ffffff;
  font-family: inherit;
  padding-top: 12px;
  margin-bottom: 12px;
  align-items: flex-start;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: row;
}

.div_postUnit_navContent_options {
  display: flex;
  font-family: inherit;
  padding-bottom: 8px;
  padding-top: 6px;
}

.div_postUnit_navContent__ {
  display: flex;
  width: 100%;
  height: 40px;

  margin-top: -4px;
  padding-left: 6px;
  flex-direction: column;
  align-items: flex-start;
}

.div_postUnit_navContent__UserID {
  font-family: inherit;
  font-size: 12px;
  display: flex;
  margin-top: -5px;
  margin-bottom: -5px;
  flex-direction: colume;
  align-items: flex-start;
}

.div_postUnit_navContent__createDate {
  font-family: inherit;
  font-size: 12px;
  display: flex;
  margin-top: -5px;
  margin-bottom: -5px;
  flex-direction: colume;
  align-items: flex-start;
}

.div_postUnit_mainContent {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: initial;
  height: auto;
  margin-top: 2px;
}

.div_postUnit_mainContent_textContent {
  font-family: inherit;
  height: 100;
  background-color: #ffffff;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-left: 16px;
  font-family: inherit;

  align-items: stretch;
}

.div_postUnit_mainContent_textContent_ {
  font-family: inherit;
  display: flex;
  margin-top: -5px;
  margin-bottom: -5px;
  flex-direction: column;
}

.div_postUnit_mainContent_textContent_ > span {
  font-family: Segoe UI Historic, Segoe UI, Arial, Helvetica, sans-serif;
  word-break: break-word;
  color: #050505;
  font-weight: normal;
  font-size: 0.9375rem;
  text-align: left;
  display: block;
  line-height: 1.3333;
  margin: 0;
  /* white-space: pre-wrap; */
}

.div_postUnit_mainContent_fileContent {
  /* height: 40px; */
  background-color: antiquewhite;
  background-color: #ffffff;

  font-family: inherit;
  /* overflow-y: hidden; */
  /* position: absolute; */
  overflow-x: hidden;
  cursor: pointer;
  /* padding: 0; */
  /* margin: 0; */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: auto;
  height: auto;
  border: 0;
  outline: none;

  /* box-sizing: border-box; */
}

.div_postUnit_mainContent_fileContent_ {
  font-family: inherit;
  width: 100%;
  /* z-index: auto; */
  height: auto;
  /* display: block; */

  overscroll-behavior-y: none;
  background-color: transparent;
  touch-action: manipulation;

  /* position: static; */
  width: 100%;
  height: 100%;
  cursor: pointer;

  border: 0;
  outline: 0;
  text-decoration: none;
}

.div_postUnit_mainContent_fileContent_ > video {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.div_postUnit_mainContent_fileContent_ > img {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.div_complementaryContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.div_postUnit_CommentsAndLikes {
  max-height: 100%;
  background-color: #ffffff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;

  border-bottom: 1px solod #ced0d4;
}

.div_postUnit_CommentsAndLikes__ {
  font-family: inherit;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 8px;
}

.div_postUnit_CommentsAndLikes_info {
  font-family: inherit;
  position: relative;
  color: #65676b;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  /* margin-left: 16px;
  margin-right: 16px; */
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  /* font-size: 0.9375rem; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 1.3333;
}

.div_postUnit_CommentsAndLikes_info_likeCount {
  width: 75%;
}

.div_postUnit_CommentsAndLikes_info_commentCount {
  display: flex;
  font-family: inherit;
  position: relative;
  color: #65676b;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  /* font-size: 0.9375rem; */
  line-height: 1.3333;
  justify-content: flex-end;
  width: 25%;
}

.div_postUnit_CommentsAndLikes_participate {
  font-family: inherit;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-around;
  align-items: stretch;
  height: 36px;

  margin-left: 16px;
  margin-right: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 4px;
  padding-top: 4px;

  /* margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;

  margin-left: -2px;
 
  margin-right: -2px;
  margin-top: -6px;
  margin-bottom: -6px;

  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px; */
}

.div_postUnit_CommentsAndLikes_participate_addLike {
  font-family: inherit;
  width: 234px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3333;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-align: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.div_postUnit_CommentsAndLikes_participate_addLike:hover {
  background-color: rgba(0, 0, 0, 0.08);
  /* touch-action: manipulation;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition-duration: 100ms;
  transition-property: opacity; */
}

.div_postUnit_CommentsAndLikes_participate_addLike > span {
  font-family: Segoe UI, Segoe UI Historic, sans-serif, Arial, Helvetica;
  word-break: break-word;
  color: #65676b;
  font-weight: 600;
  font-size: 0.9375rem;
  display: block;
  line-height: 1.3333;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-align: inherit;
}

.div_postUnit_CommentsAndLikes_participate_addComment {
  font-family: inherit;
  width: 234px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3333;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
.div_postUnit_CommentsAndLikes_participate_addComment:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.div_postUnit_CommentsAndLikes_participate_addComment > span {
  font-family: Segoe UI, Segoe UI Historic, sans-serif, Arial, Helvetica;
  word-break: break-word;
  color: #65676b;
  font-weight: 600;
  font-size: 0.9375rem;
  display: block;
  line-height: 1.3333;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  text-align: inherit;
}

/* logo for boiler plate */
.div_logoContainer {
  background-color: #f0f2f5;
  width: 100%;

  height: 500px;
  display: flex;
  justify-content: space-between;

  /* copy facebook devtool
  font-family: inherit;
  box-sizing: border-box;
  flex-basis: 0px;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 0;
  flex-shrink: 1;
  z-index: 0;
  min-height: inherit;
  flex-grow: 1;
  flex-direction: row;
  overscroll-behavior-y: none;
  -webkit-font-smoothing: antialiased; */
}

@media (max-width: 1920px) {
  .div_logoContainer {
    max-width: none;
  }
}

.div_logo {
  width: 80%;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  display: flex;

  /* background-color:#ffffff;
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; */
}

.div_uploadContainer {
  font-family: inherit;
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-grow: 1;
  margin-bottom: 60px;
  position: relative;
  width: 90%;
  max-width: 590px;
  height: 123px;
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
}

.div_uploadUnit {
  background-color: #ffffff;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* testheight */
  width: 100%;
  height: 100px;
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.div_uploadUnit_ {
  background-color: #ffffff;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
}

.div_uploadUnit_inputs {
  font-family: inherit;
  font-size: inherit;
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  max-height: 40px;
}

.div_uploadUnit_inputs_ {
  font-family: inherit;
  font-size: inherit;
  align-items: flex-start;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: stretch;
  justify-content: flex-start;
  /* border-bottom: solid 1.5px rgba(239, 240, 243, 1); */
  /* //#e4e6eb */
  /* border-bottom-style: ridge; */
}

.div_uploadUnit_inputs_Avatar {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  /* box-sizing: border-box; */
  border: 0;
  position: relative;
  margin-right: 8px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  /* line-height: 1.34; */
}
.div_uploadUnit_inputs_Avatar {
  height: 40px;
  width: 40px;
}

.div_uploadUnit_inputs_text {
  font-family: inherit;
  cursor: pointer;
  min-height: 40px;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-top: 8px;
  display: flex;
  justify-content: flex-start;
  border-radius: 20px;
  background-color: #f0f2f5;
  width: 100%;
  position: relative;
}

.div_uploadUnit_inputs_text:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.div_uploadUnit_inputs_ > span {
  background-color: #f0f2f5;
  width: 100%;
}

.div_uploadUnit_files {
  font-family: inherit;
  font-size: 12px;
  height: 40px;
  flex-basis: 0;
  flex: 1 1 30%;
  margin-top: 12px;
  width: 100%;
  display: flex;

  justify-content: center;
  padding-top: 8px;
  border-top: solid 1px #e4e6eb;
}

.div_uploadUnit_files_liveBroadcast {
  font-family: inherit;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 0;
  min-width: 30%;
  /* min-width: 156px; */
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;

  display: flex;
  flex-basis: 0px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  touch-action: manipulation;

  position: relative;
  background-color: #00000000;
  /* flex-shrink: 1; */
  -webkit-font-smoothing: antialiased;
}

.div_uploadUnit_files_liveBroadcast_ {
  font-family: inherit;
  justify-content: center;
  display: flex;
  line-height: 1.0667;
  align-items: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);

  height: 40px;
  padding: 0px;
  min-width: 30%;
  border-radius: 8px;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition-duration: 100ms;
  transition-property: opacity;
}

.div_uploadUnit_files_liveBroadcast_:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.div_uploadUnit_files_photosNvideos {
  font-family: inherit;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 0;
  min-width: 30%;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;

  display: flex;
  flex-basis: 0px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  touch-action: manipulation;

  position: relative;
  background-color: #00000000;
  flex-shrink: 1;
  -webkit-font-smoothing: antialiased;
}

.div_uploadUnit_files_photosNvideos_ {
  font-family: inherit;
  justify-content: center;
  display: flex;
  line-height: 1.0667;
  align-items: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);

  height: 40px;
  min-width: 30%;
  border-radius: 8px;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition-duration: 100ms;
  transition-property: opacity;
}

.div_uploadUnit_files_photosNvideos_:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.div_uploadUnit_files_broadcast_feelingsNactivities {
  font-family: inherit;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  min-height: 0;
  min-width: 30%;
  justify-content: center;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;

  display: flex;
  flex-basis: 0px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  touch-action: manipulation;

  position: relative;
  background-color: #00000000;
  flex-shrink: 1;
  -webkit-font-smoothing: antialiased;
}

.div_uploadUnit_files_broadcast_feelingsNactivities_ {
  font-family: inherit;
  justify-content: center;
  display: flex;
  line-height: 1.0667;
  align-items: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

  height: 40px;
  min-width: 30%;
  border-radius: 8px;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition-duration: 100ms;
  transition-property: opacity;
}

.div_uploadUnit_files_broadcast_feelingsNactivities_:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* modlal styling */
.div_Modal {
  width: 100%;
  position: fixed;
  min-width: 100%;
  /* min-height: 3520px; */

  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  z-index: 1;
}

.div_ModalContainer {
  width: 100%;
  position: fixed;
  min-width: 100%;
  min-height: 3520px;
  background-color: #f3f4f4;
  opacity: 0.55;

  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  z-index: 1;
}

.div_ModalOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  min-width: 1422px;
  min-height: 3520px;
  background-color: #f3f4f4;
  opacity: 0.55;

  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  z-index: 1;
}

.div_ModalContents {
  position: static;
  min-width: 100%;
  /* min-height: 100%; */
  /* overflow: hidden; */
  height: auto;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
}

.div_ModalContents_ {
  position: static;
  margin-top: 170px;
  /* padding: 10px; */
  background-color: #ffffff;
  text-align: center;
  min-width: 360px;
  height: 300px;
  /* overflow: scroll; */
  height: auto;

  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);

  z-index: 5;
}

.div_ModalContents_title {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.0625rem;
  font-weight: 600;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  border-bottom: solid 1px #e8e8e8;
}

.div_ModalContents_title > span {
  min-width: 100%;
}

.div_Modal {
  /* position: absolute;
  min-width: 1422px;
  min-height: 3520px;
  text-align: center;

  overflow-y: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  z-index: 1; */
}

.div_Modal_ {
  /* position: absolute;
  width: -200%;
  text-align: center; */
  width: 100%;
}

.div_ModalContents_body {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 5px;
  position: relative;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  height: auto;
}

.div_ModalContents_body_header {
  display: flex;
  margin-top: 5px;
}

.div_ModalContents_body_header_ {
  margin-top: -5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
.div_ModalContents_body_header_ > span {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.025rem;
  font-weight: 560;
}

.div_ModalContents_body_header_ > select {
  border-width: 0;
  border-radius: 6px;
  background-color: #e4e6eb;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.7925rem;
  font-weight: 600;
  border-width: 2px;
  border-color: #e4e6eb;
}

.div_ModalContents_body_header_ > Select {
  border-width: 0;
  border-radius: 6px;
  background-color: #e4e6eb;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.7925rem;
  font-weight: 600;
  border-width: 2px;
  border-color: #e4e6eb;
}

.div_ModalContents_body_header_ > option {
  /* padding: 2px; */
  margin: 2px;
}

.div_ModalContents_body_text {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-width: 100%;
  min-height: 80%;
  font-size: 1.1625rem;
  font-weight: 500;
  color: #66686c;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  /* padding-top: 10px; */
}

.div_ModalContents_body_text > textarea {
  overflow-y: scroll;
}

.div_ModalContents_body_text > form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.div_ModalContents_body_text > textarea {
  resize: vertical;
  display: flex;
  height: auto;
  overflow: visible;
  min-height: 100%;
  flex-direction: column;
  align-items: stretch;
  border-radius: 6px;
  border-color: #ffffff;
  margin-top: 15px;
  margin-bottom: 20px;
}

.div_ModalContents_body_displayFiles {
  margin-bottom: 15px;
}

.div_ModalContents_body_files {
  display: flex;
  min-width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  max-height: 15px;
  border-color: #ffffff;
}

.div_ModalContents_body_text > form > input {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1625rem;
  font-weight: 500;
  color: #66686c;
  height: 60%;
  min-width: 100%;
  border-color: black;
}

.div_ModalContents_body_text > form {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1625rem;
  font-weight: 500;
  color: #66686c;
  min-width: 100%;
  border-color: black;
}

.div_ModalContents_body_files {
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  border-color: black;
  border-width: 2px;
  width: 100px;
  min-width: 100%;
  min-height: 100%;
  z-index: 6;
}

.div_postUnit_ViewAndAddComments {
  min-width: 500px;
  /* max-width: 500px; */
  /* 20211028 11:30 500px ->100% */
  font-family: Segoe UI Historic, Segoe UI, Arial, Helvetica, sans-serif;
  margin-bottom: 4px;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.div_postUnit_ViewAndAddComments > span {
}

.div_postUnit_ViewAndAddComments > span > div {
  font-family: inherit;
  max-width: 500px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0;
  padding-top: 4px;
  min-height: 2px;
  border-top: 1px solid #ced0d4;
}

.div_postUnit_ViewAndAddComments_display {
  font-family: inherit;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  justify-content: flex-end;
}

.div_postUnit_ViewAndAddComments_display_ {
  font-family: inherit;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  min-height: 28px;
  cursor: pointer;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: flex-end;
}

.div_postUnit_ViewAndAddComments_display__ {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline;
  position: relative;
  text-align: inherit;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.div_postUnit_ViewAndAddComments_display__ > span {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  word-break: break-word;
  color: #65676b;
  font-weight: 600;
  font-size: 0.9375rem;
  min-width: 0;
  max-width: 100%;
  display: block;
  line-height: 1.3333;
  -webkit-tap-highlight-color: #00000000;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.div_postUnit_ViewAndAddComments_display__ > span > select {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  word-break: break-word;
  color: #65676b;
  font-weight: 600;
  font-size: 0.9375rem;
  min-width: 0;
  max-width: 100%;
  display: block;
  line-height: 1.3333;
  -webkit-tap-highlight-color: #00000000;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  border: #ffffff;
}

.div_postUnit_ViewAndAddComments_addCommentForm {
  font-family: inherit;
  display: flex;
  flex-shrink: 1;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  flex-direction: row;
  outline: none;
  -webkit-font-smoothing: antialiased;
  width: 90%;
}

.div_postUnit_ViewAndAddComments_addCommentForm_Avatar {
  font-family: inherit;

  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  margin-top: 2px;
  margin-right: 6px;
  align-self: flex-start;
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.div_postUnit_ViewAndAddComments_addCommentForm_Avatar > Avatar {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.div_postUnit_ViewAndAddComments_addCommentForm_inputForm {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  flex-shrink: 1;
  padding-right: 0;
  -webkit-font-smoothing: antialiased;
  /* min-width: 428px; */
  min-width: 100%;
}

.div_postUnit_ViewAndAddComments_addCommentForm_inputForm_textForm {
  flex-shrink: 1;
  font-family: inherit;
  max-width: none;
}

.div_postUnit_ViewAndAddComments_addCommentForm_inputForm_textForm > form {
  flex-shrink: 1;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;

  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;

  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;

  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;

  max-width: 428px;

  right: 0;
  cursor: text;
  position: relative;
  display: flex;

  justify-content: flex-end;
  background-color: #f0f2f5;
}

.div_postUnit_ViewAndAddComments_addCommentForm_inputForm_textForm_formDiv {
  font-family: inherit;
  overflow-wrap: break-word;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-top: 8px;
  cursor: text;
  flex-basis: auto;
  color: #65676b;

  flex-direction: row;
  text-overflow: ellipsis;
  overflow-y: hidden;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  font-size: 0.9375rem;
  text-align: initial;
  /* flex-shrink: 1; */
  flex-grow: 1;
  flex-wrap: initial;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  direction: ltr;
  line-height: 1.34;

  /* max-width: 80%; */
}

.div_postUnit_ViewAndAddComments_addCommentForm_inputForm_textForm_formDiv
  > span {
  font-family: inherit;
  /* min-height: 36px; */
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  -webkit-user-modify: read-write-plaintext-only;
  direction: ltr;
  line-height: 1.34;
  position: relative;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;

  color: #65676b;
  font-size: 0.9375rem;
  text-align: initial;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.div_postUnit_ViewAndAddComments_addCommentForm_inputForm_textForm_formDiv
  > span
  > input {
  max-width: 312px;
  height: 20px;
  word-wrap: break-word;
  font-family: inherit;
  overflow-wrap: break-word;
  overflow-y: scroll;
  /* min-height: 36px; */
  outline: none;
  /* user-select: text; */
  white-space: pre-wrap;
  overflow-wrap: break-word;
  -webkit-user-modify: read-write-plaintext-only;
  direction: ltr;
  line-height: 1.34;
  position: relative;
  white-space: pre-wrap;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  unicode-bidi: embed;

  color: #65676b;
  font-size: 0.9375rem;
  text-align: initial;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.div_postUnit_ViewAndAddComments_addCommentForm_inputForm_textForm > form > ul {
  height: 36px;
  display: flex;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -8px;
  margin-right: 4px;
  padding-left: 0px;
  align-self: flex-end;
  align-items: center;
  list-style-type: none;
  /* margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  /* padding-inline-start: 40px; */
  cursor: text;
}

.div_postUnit_ViewAndAddComments_addCommentForm_inputForm_textForm
  > form
  > ul
  > li {
  display: inline-block;
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin-left: 6px;
  margin-right: 6px;
  text-align: -webkit-match-parent;
  cursor: text;
}

.div_postUnit_ViewAndAddComments_addCommentForm_inputForm_info {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  font-size: 12px;
  padding-top: 1px;
  color: #050505;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}

.div_postUnit_ViewAndAddComments_Comment {
  font-family: inherit;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 4px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  /*  */
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
}

.div_postUnit_ViewAndAddComments_Comment_Avatar {
  font-family: inherit;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-font-smoothing: antialiased;
  margin-top: 2px;
  margin-right: 6px;
  font-size: 12px;
  align-self: flex-start;
  line-height: 1.34;
  unicode-bidi: embed;
  cursor: pointer;
}

.div_postUnit_ViewAndAddComments_Comment_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: inherit;
  padding-right: 16px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;

  max-width: 100%;

  -webkit-font-smoothing: antialiased;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding-right: 16px;
  unicode-bidi: embed;
}

.div_postUnit_ViewAndAddComments_Comment_content_inner {
  font-family: inherit;
  display: flex;
  min-width: 100%;
  flex-wrap: no-wrap;
}

.div_postUnit_ViewAndAddComments_Comment_content_ {
  /* display: flex; */
  font-family: inherit;
  vertical-align: middle;
  word-wrap: break-word;
  max-width: calc(100% - 26px);

  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;

  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  white-space: normal;

  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;

  background-color: #f0f2f5;
}

.div_postUnit_ViewAndAddComments_Comment_content__ {
  font-family: inherit;
  padding-left: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-top: 8px;

  color: #050505;
  white-space: normal;
  word-wrap: break-word;

  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}

.div_postUnit_ViewAndAddComments_Comment_content__userId {
  font-family: inherit;
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  padding-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;

  direction: ltr;
  line-height: 1.34;
  unicode-bidi: embed;

  text-align: inherit;
}

.div_postUnit_ViewAndAddComments_Comment_content__userId > span {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-srif;

  font-weight: 600;
  line-height: 1.2308;
  font-size: 0.8125rem;

  margin-top: -4px;
  margin-bottom: -3px;

  cursor: pointer;
  word-break: break-word;
  white-space: normal;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  background-color: #f0f2f5;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}

.div_postUnit_ViewAndAddComments_Comment_content__text {
  font-family: inherit;
  padding-top: 4px;
  padding-bottom: 4px;
  word-break: break-word;
  white-space: normal;
  word-wrap: break-word;
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
}

.div_postUnit_ViewAndAddComments_Comment_content__text > span {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-srif;
  word-break: break-word;
  color: #050505;
  font-weight: normal;
  font-size: 0.9375rem;
  min-width: 0;
  max-width: 100%;
  word-wrap: break-word;

  display: block;

  line-height: 1.3333;
  text-align: -webkit-match-parent;
  unicode-bidi: -webkit-isolate;
  white-space: normal;
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-y: none;
  text-align: start;

  margin-top: -5px;
  margin-bottom: -4px;
}

.div_postUnit_ViewAndAddComments_Comment_content_ext {
  font-family: inherit;

  /* vertical-align: -webkit-baseline-middle;
  display: inline-block;
   */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 11px;

  opacity: 1;
  -webkit-font-smoothing: antialiased;
  width: 22px;
}

.div_postUnit_ViewAndAddComments_Comment_content_ext > span {
  font-family: inherit;
  align-content: inherit;
  flex-basis: inherit;
  max-height: inherit;
  flex-grow: inherit;
  flex-shrink: inherit;
  max-width: inherit;
  flex-direction: inherit;
  width: inherit;
  min-height: inherit;
  min-width: inherit;
  justify-content: inherit;
  height: inherit;
  align-self: inherit;
  display: inherit;
  align-items: inherit;
}

.div_postUnit_ViewAndAddComments_Comment_content > ul {
  display: flex;
  flex-direction: row;

  color: #65676b;
  font-family: inherit;
  margin-left: 12px;
  margin-bottom: 0;
  padding-top: 3px;
  min-height: 15px;

  min-width: 374px;
  /* display: inline-block; */

  font-size: 12px;
  line-height: 12px;
  list-style-type: none;
  padding-left: 0px;

  /* margin: 0;
  padding: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; */
}

.div_postUnit_ViewAndAddComments_Comment_content > ul > li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  /* display: inline-block; */
}

.div_postUnit_ViewAndAddComments_Comment_content > ul > li > span {
  font-family: inherit;
  color: #65676b;
  font-size: 12px;
  line-height: 12px;

  display: inline-block;
  position: relative;
}

.div_postUnit_ViewAndAddComments_Comment_content_ulLike {
  justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
  flex-basis: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;

  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  text-align: inherit;
  color: #65676b;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}

.div_postUnit_ViewAndAddComments_Comment_content_ulReply {
  font-family: inherit;
  padding-right: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  color: #65676b;

  position: relative;
  margin-top: 0;
  padding-top: 0;
  text-align: inherit;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;

  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;

  list-style: none;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}

.div_postUnit_ViewAndAddComments_Comment_content_ulDate {
  font-family: inherit;
  cursor: pointer;
  display: inline;
  color: #65676b;
  margin-top: 0;
  font-weight: normal;
  text-align: inherit;
  box-sizing: border-box;

  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;

  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  display: inline-block;
  font-size: 12px;
  line-height: 12px;

  direction: ltr;
  unicode-bidi: embed;
}

.div_postUnit_ViewAndAddComments_Comment_content_ulLikeCount {
  align-self: flex-end;
}

.div_postUnit_ViewAndAddComments_Comment_content_Like {
  max-width: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0px;
  align-self: flex-end;
}

.div_postUnit_ViewAndAddComments_Comment_content_Like_ {
  margin-top: 10px;
}

#li_postUnit_ViewAndAddComments_Comment_content_ulLikeCount {
  display: flex;
  /* margin-left: 20px; */
  /* flex-direction: row; */
  float: inline-end;
  /* justify-self: end; */

  /* align-self: flex-end; */
  /* margin-left: 20px; */
}

.div_postUnit_ViewAndAddComments_moreComments {
  display: flex;
  flex-shrink: 1;
}

.MenuBtn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 685px) {
  .div_uploadUnit_inputs {
    font-family: inherit;
    font-size: inherit;
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    max-height: 32px;
  }
  .div_uploadUnit_inputs_Avatar {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    /* box-sizing: border-box; */
    border: 0;
    position: relative;
    margin-right: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: flex;
    /* line-height: 1.34; */
  }
  .div_uploadUnit_inputs_text {
    font-family: inherit;
    font-size: 8px;
    cursor: pointer;
    max-height: 32px;
    padding-left: 12px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-top: 8px;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    background-color: #f0f2f5;
    width: 100%;
    position: relative;
  }

  .div_uploadUnit_files {
    font-family: inherit;
    font-size: 11px;
    max-height: 32px;
    flex-basis: 0;
    flex: 1 1 30%;
    margin-top: 12px;
    width: 100%;
    display: flex;

    justify-content: center;
    padding-top: 8px;
    border-top: solid 1px #e4e6eb;
  }

  .div_uploadContainer {
    font-family: inherit;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
    width: 90%;
    max-width: 590px;
    height: 100px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  }
}

@media (max-width: 640px) {
  .div_uploadUnit_files {
    font-family: inherit;
    font-size: 10px;
    height: 40px;
    flex-basis: 0;
    flex: 1 1 30%;
    margin-top: 12px;
    width: 100%;
    display: flex;

    justify-content: center;
    padding-top: 8px;
    border-top: solid 1px #e4e6eb;
  }
  .div_uploadContainer {
    font-family: inherit;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
    width: 90%;
    max-width: 590px;
    height: 100px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  }
}

@media (max-width: 610px) {
  .div_uploadUnit_files {
    font-family: inherit;
    font-size: 9px;
    height: 40px;
    flex-basis: 0;
    flex: 1 1 30%;
    margin-top: 12px;
    width: 100%;
    display: flex;

    justify-content: center;
    padding-top: 8px;
    border-top: solid 1px #e4e6eb;
  }
  .div_uploadContainer {
    font-family: inherit;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
    width: 90%;
    max-width: 590px;
    height: 100px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  }
}

@media (max-width: 570px) {
  .div_uploadUnit_files {
    font-family: inherit;
    font-size: 8px;
    height: 40px;
    flex-basis: 0;
    flex: 1 1 30%;
    margin-top: 12px;
    width: 100%;
    display: flex;

    justify-content: center;
    padding-top: 8px;
    border-top: solid 1px #e4e6eb;
  }
  .div_uploadContainer {
    font-family: inherit;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
    width: 90%;
    max-width: 590px;
    height: 100px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  }
}

@media (max-width: 560px) {
  .div_uploadUnit_files {
    font-family: inherit;
    font-size: 7px;
    height: 40px;
    flex-basis: 0;
    flex: 1 1 30%;
    margin-top: 12px;
    width: 100%;
    display: flex;

    justify-content: center;
    padding-top: 8px;
    border-top: solid 1px #e4e6eb;
  }
  .div_uploadContainer {
    font-family: inherit;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
    width: 90%;
    max-width: 590px;
    height: 100px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  }
}

@media (max-width: 555px) {
  .div_uploadUnit_files {
    font-family: inherit;
    font-size: 6px;
    height: 40px;
    flex-basis: 0;
    flex: 1 1 30%;
    margin-top: 12px;
    width: 100%;
    display: flex;

    justify-content: center;
    padding-top: 8px;
    border-top: solid 1px #e4e6eb;
  }
  .div_uploadContainer {
    font-family: inherit;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
    width: 90%;
    max-width: 590px;
    height: 100px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  }
}

@media (max-width: 545px) {
  .div_uploadUnit_files {
    font-family: inherit;
    font-size: 5px;
    height: 40px;
    flex-basis: 0;
    flex: 1 1 30%;
    margin-top: 12px;
    width: 100%;
    display: flex;

    justify-content: center;
    padding-top: 8px;
    border-top: solid 1px #e4e6eb;
  }
  .div_uploadContainer {
    font-family: inherit;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
    width: 90%;
    max-width: 590px;
    height: 100px;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  }
}

@media (min-width: 1133px) {
  .div_uploadUnit_files {
    font-family: inherit;
    font-size: 12px;
    height: 40px;
    flex-basis: 0;
    flex: 1 1 30%;
    margin-top: 12px;
    width: 100%;
    display: flex;

    justify-content: center;
    padding-top: 8px;
    border-top: solid 1px #e4e6eb;
  }
}

/* 포스트의 다중 파일 업로드 스타일 */
.div_prevImgRow1_1 {
  border-radius: 6px;
  border: 2px solid #f0f2f5;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.div_postImgRow1_2 {
  border-radius: 6px;
  border: 2px solid #f0f2f5;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 10%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}
.div_postImgRow1_3 {
  border-radius: 6px;
  border: 2px solid #f0f2f5;
  display: none;
  flex-direction: row;
  width: 100%;
  min-height: 10%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}
.img_prevImgRow1_1 {
  width: 100%;
}
.img_prevImgRow1_2 {
  width: 50%;
}
.img_prevImgRow1_3 {
  display: none;
}
.div_previmgRow2_1 {
  /* border-radius: '6px';
  border: '2px solid #f0f2f5'; */
  display: none;
  /* flex-direction: 'row';
  width: '100%';
  min-height: '50%';
  max-height: '100%';
  align-items: 'center';
  justify-content: 'center'; */
}
.div_postimgRow2_2 {
  border-radius: 6px;
  border: 2px solid #f0f2f5;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 10%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}
.img_prevImgRow2_1 {
  width: 100%;
}
.img_prevImgRow2_2 {
  width: 50%;
  background-color: #ffffff;
  color: #ffffff;
}
.img_prevImgRow2_3 {
  width: 33%;
}
.img_prevImgRow2_4 {
  display: none;
}
.img_prevImgRow2_5 {
  width: 33%;
  /* opacity: 0.8; */
  background-color: rgba(68, 73, 80, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.p_img_prevImgRow2_5_filesCount {
  position: absolute;
  font-family: inherit;
  display: block;
  font-size: 3.2rem;
  color: white;
  font-weight: bold;
  line-height: normal;
  margin: 0px;
  z-index: 100;
  /* filter: brightness(50%); */
}
.div_5thfileImg_1 {
  display: none;
}
.div_5thfileImg_2 {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #e3e4e5;
  position: absolute;
}

@media (max-width: 780px) {
  .div_postUnit_ViewAndAddComments_Comment_content__text {
    font-family: inherit;
    padding-top: 4px;
    padding-bottom: 4px;
    word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;

    font-size: small;
  }
}

@media (max-width: 600px) {
  .div_postUnit_ViewAndAddComments_Comment_content__text {
    font-family: inherit;
    padding-top: 4px;
    padding-bottom: 4px;
    word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;

    font-size: x-large;
  }
}

@media (max-width: 480px) {
  .div_postUnit_ViewAndAddComments_Comment_content__text {
    font-family: inherit;
    padding-top: 4px;
    padding-bottom: 4px;
    word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
    background-color: #f0f2f5;
    -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;

    font-size: xx-small;
  }
}
